<template>
  <v-app id="app">
    <div class="header columns">
      <div class="column is-one-quarter-desktop is-half-mobile">
        <Carrousel />
      </div>
      <div class="column">Olla vecinal3</div>
      <div class="column">
        <router-link v-if="!session" to="/login" class="navbar-item"
          >Iniciar Sesion</router-link
        >
        <router-link
          v-if="isNeighborhoodBoard"
          to="/sign-up"
          class="navbar-item"
          >Registrar Vecino</router-link
        >
        <router-link
          v-if="isNeighbour"
          to="/create-anunziao"
          class="navbar-item"
          >Crear Anuncio</router-link
        >
        <router-link v-if="isNeighbour" to="/home" class="navbar-item"
          >Home</router-link
        >
      </div>
      <v-btn v-if="session" @click="logOutUser" color="error"
        >Cerrar Sesion</v-btn
      >
    </div>
    <router-view></router-view>
    <Footer />
  </v-app>
</template>

<script>
import { Role } from './_helpers/role'
import Carrousel from '@/components/Carrousel.vue'
import Footer from '@/components/Footer.vue'

export default {
  name: 'App',
  data: () => ({
    currentUser: null,
    session: false,
  }),
  computed: {
    isNeighbour() {
      return this.currentUser && this.currentUser.rol === Role.Ciudadano
    },
    isNeighborhoodBoard() {
      return this.currentUser && this.currentUser.rol === Role.JuntaVecinal
    },
  },
  mounted() {
    if (localStorage.getItem('session')) {
      this.session = true
      this.currentUser = JSON.parse(localStorage.getItem('session'))
    }
    if (sessionStorage.getItem('session')) {
      this.session = true
      this.currentUser = JSON.parse(sessionStorage.getItem('session'))
    }
  },
  components: {
    Carrousel,
    Footer,
  },
  methods: {
    logOutUser() {
      this.$store.dispatch('user/logOutUser')
    },
  },
}
</script>

<style>
@import './assets/styles/global.scss';
@import 'https://fonts.googleapis.com/css?family=Nunito:300,400,500,700|Material+Icons';
</style>
