:root {
  --azul: #004780;
  --naranjo: #f90;
  --gris: #aeaeae;
  --azul-gris: #5c7380;
}

body {
  color: var(--azul-gris);
  font-family: 'Nunito', serif;
}

// MARGIN HOME
.container-home {
  width: 79%;
  margin-left: 10.5%;
  margin-right: 10.5%;
}

.button {
  margin-top: 1rem;
}

.header {
  align-items: center;
  border-bottom: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    45deg,
    var(--azul) 40%,
    var(--naranjo) 40%
  );
  color: var(--gris);
  font-size: 2rem;
  padding: 1rem 1%;
  text-align: center;
  width: 100%;
}

.header img {
  max-height: 6rem;
}

.footer {
  color: white;
  padding: 2%;
  background-color: var(--azul-gris);
  text-align: center;
  width: 100%;
}

.dashboard {
  padding: 3% 1%;
  height: calc(100vh - 168px - 65px);
}

h1 {
  text-align: center;
}

.text-center {
  text-align: center;
}

.olla {
  background-color: rgba(255, 153, 0, 0.562) !important;
}

.olla--text {
  color: #004680 !important;
}

.login-form {
  max-width: 500px;
  margin-bottom: 20%;
}

.description {
  height: 66px;
  overflow: hidden;
}

/* OfferDetail */
.post-detail-container {
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 1em;
}

.post-title {
  font-size: 3rem !important;
  text-shadow: 0.8px 0.8px 0.8px rgb(43, 42, 42);
}

@media (min-width: 992px) {
  .post-detail-container {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: none;
    box-shadow: none;
  }
  #message {
    margin-top: 58px;
  }
  #notice {
    margin-bottom: 84px;
  }
}

.post-detail-container label {
  color: var(--azul);
  line-height: 20px;
  text-transform: uppercase;
}

.post-detail-container p {
  color: black;
  height: 30px;
  margin-top: 22px;
  margin-bottom: 22px;
  padding-bottom: 8px;
  width: 100%;
}

#comments {
  border-radius: 5px;
  color: var(--azul);
  font-size: 18px;
  height: auto;
  line-height: 22px;
  padding: 14px;
  text-align: start;
}

#notice {
  border: none;
  height: auto;
  margin-bottom: 35px;
}

.template-line {
  width: 5rem;
  height: 0.5px;
  margin-bottom: 12px;
  margin-top: 12px;
  padding: 1px;
  background-color: var(--naranjo);
}

.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}
