<template>
  <NewAdvertisement />
</template>

<script>
import NewAdvertisement from '@/components/NewAdvertisement.vue'

export default {
  name: 'NewAdvertisementView',
  components: { NewAdvertisement },
}
</script>