<template>
  <v-container>
    <!-- Realizar buscador -->
    <template>
      <v-form>
        <div class="row">
          <div class="col-12 col-md-8">
            <v-combobox
              v-model="categorias"
              :items="categories"
              label="Selecciona Categorias"
              multiple
              outlined
              dense
              :disabled="haFiltrado"
            ></v-combobox>
          </div>
          <div class="col-12 col-md-4">
            <v-btn
              class="my-1"
              block
              @click="filtrar"
              depressed
              color="primary"
              :disabled="haFiltrado"
            >
              Filtrar
            </v-btn>
            <v-btn
              class="my-1"
              block
              @click="limpiarFiltro"
              depressed
              color="error"
            >
              Limpiar Filtro
            </v-btn>
          </div>
        </div>
      </v-form>
    </template>

    <article v-for="advertisement in advertisements" :key="advertisement.id">
      <v-card class="mx-auto my-12" max-width="374">
        <v-img
          height="250"
          src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
        ></v-img>
        <v-card-title>{{ advertisement.titulo }}</v-card-title>
        <v-card-text>
          <v-chip class="ma-2" color="pink" label text-color="white">
            <v-icon left>
              mdi-label
            </v-icon>
            ${{ advertisement.monto }}
          </v-chip>
          <div
            v-if="
              advertisement.promocion &&
                Object.keys(advertisement.promocion).length > 0
            "
            class="my-4 subtitle-1"
          >
            <p>{{ advertisement.promocion.porcentaje * 100 }}% de descuento</p>
          </div>

          <div>
            {{ advertisement.descripcion }}
          </div>
        </v-card-text>

        <v-divider class="mx-4"></v-divider>

        <v-card-title>Categorias</v-card-title>

        <v-card-text>
          <v-chip-group
            v-for="categorias in advertisement.categorias"
            :key="categorias"
            active-class="deep-purple accent-4 white--text"
            column
          >
            <v-chip class="ma-2" color="green">{{ categorias }}</v-chip>
          </v-chip-group>
        </v-card-text>

        <v-card-actions>
          <router-link :to="{ name: 'Post', params: { id: advertisement.id } }">
            <v-btn color="deep-purple lighten-2" text @click="detalles">
              Detalles
            </v-btn>
          </router-link>
        </v-card-actions>
      </v-card>
    </article>

    <!-- <v-card-actions>
          <v-btn text color="teal accent-4" @click="agregarDescuento = true">
            Agregar descuento
          </v-btn>
        </v-card-actions>

        <v-expand-transition>
          <v-card
            v-if="agregarDescuento"
            class="transition-fast-in-fast-out v-card--reveal"
            style="height: 100%;"
          >
            <v-card-text class="pb-0">
              <p class="display-1 text--primary">
                Origin
              </p>
              <p>
                late 16th century (as a noun denoting a place where alms were
                distributed): from medieval Latin eleemosynarius, from late
                Latin eleemosyna ‘alms’, from Greek eleēmosunē ‘compassion’
              </p>
            </v-card-text>
            <v-card-actions class="pt-0">
              <v-btn
                text
                color="teal accent-4"
                @click="agregarDescuento = false"
              >
                Cerrar Formulario
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-expand-transition> -->
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import { Role } from '../_helpers/role'
import Vue from 'vue'
import VueToast from 'vue-toast-notification'
import 'vue-toast-notification/dist/theme-sugar.css'

Vue.use(VueToast)

export default {
  name: 'Advertisements',
  computed: {
    ...mapState('advertisements', ['advertisements', 'advertisementsFetching']),
    ...mapState('newAdvertisement', ['categories', 'categoriesFetching']),
  },
  data: () => ({
    categorias: [],
    agregarDescuento: false,
    advertisementsOriginal: [],
    haFiltrado: false,
  }),
  mounted() {
    if (localStorage.getItem('session')) {
      let rol = JSON.parse(localStorage.getItem('session')).rol
      if (rol === Role.JuntaVecinal) {
        this.$router.push('/login')
      } else {
        this.$store.dispatch('advertisements/getAdvertisements')
        // Traer Categorias
        this.$store.dispatch('newAdvertisement/getCategories')
      }
    } else if (sessionStorage.getItem('session')) {
      let rol = JSON.parse(sessionStorage.getItem('session')).rol
      if (rol === Role.JuntaVecinal) {
        this.$router.push('/login')
      } else {
        this.$store.dispatch('advertisements/getAdvertisements')
        // Traer Categorias
        this.$store.dispatch('newAdvertisement/getCategories')
      }
    } else {
      this.$router.push('/login')
    }
  },
  methods: {
    detalles() {
      this.$router.push('/post')
    },
    filtrar() {
      if (this.categorias.length === 0) {
        Vue.$toast.error('No has seleccionado una categoria!', {
          position: 'top-right',
        })
        return
      }
      this.haFiltrado = true
      let filtradosDuplicados = []
      let filtrados = []

      if (this.advertisementsOriginal.length === 0) {
        // Almaceno el valor original de advertisements
        this.advertisementsOriginal = this.advertisements
        for (let i = 0; i < this.advertisements.length; i++) {
          let categoriasAd = this.advertisements[i].categorias
          for (let j = 0; j < categoriasAd.length; j++) {
            let categoria = categoriasAd[j]
            for (let k = 0; k < this.categorias.length; k++) {
              if (categoria === this.categorias[k]) {
                filtradosDuplicados.push(this.advertisements[i])
              }
            }
          }
        }
      } else {
        for (let i = 0; i < this.advertisementsOriginal.length; i++) {
          let categoriasAd = this.advertisementsOriginal[i].categorias
          for (let j = 0; j < categoriasAd.length; j++) {
            let categoria = categoriasAd[j]
            for (let k = 0; k < this.categorias.length; k++) {
              if (categoria === this.categorias[k]) {
                filtradosDuplicados.push(this.advertisementsOriginal[i])
              }
            }
          }
        }
      }
      filtradosDuplicados.forEach((fd) => {
        if (!filtrados.includes(fd)) {
          filtrados.push(fd)
        }
      })
      this.$store.dispatch('advertisements/postDatosFiltrados', filtrados)
    },
    limpiarFiltro() {
      this.$store.dispatch('advertisements/getAdvertisements')
      // Limpiamos el valor original de advertisements
      this.advertisementsOriginal = []
      this.categorias = []
      this.haFiltrado = false
    },
  },
}
</script>
