<template>
  <v-app id="login" class="login">
    <v-container class="fill-height">
      <v-layout class="align-center justify-center">
        <v-flex class="login-form text-xs-center">
          <v-card class="light">
            <v-card-text>
              <div class="subheading">
                <template>
                  <v-form>
                    <v-text-field
                      v-model="data.email"
                      label="Email"
                      prepend-icon="email"
                      type="email"
                      class="light"
                    />
                    <v-text-field
                      v-model="data.password"
                      label="Password"
                      prepend-icon="lock"
                      type="password"
                      class="light"
                    />
                    <v-checkbox
                      v-model="stayConnected"
                      label="Permanecer conectado"
                    />
                  </v-form>
                  <v-btn
                    block
                    @click="logInUser"
                    depressed
                    color="primary"
                    :disabled="disabled"
                  >
                    Ingresar
                  </v-btn>
                </template>
              </div>
            </v-card-text>
          </v-card>
          <v-divider />
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Login',
  data: () => ({
    stayConnected: false,
    disabled: false,
    data: {
      email: '',
      password: '',
    },
  }),
  mounted() {
    if (localStorage.getItem('session') || sessionStorage.getItem('session')) {
      this.disabled = true
    }
  },
  components: {},
  computed: {
    ...mapState('user', ['logInFetching']),
  },
  methods: {
    logInUser() {
      this.$store.dispatch('user/logInUser', this.data, this.stayConnected)
    },
  },
}
</script>
