<template>
  <v-app id="login" class="login">
    <v-container class="fill-height">
      <v-layout class="align-center justify-center">
        <v-flex class="login-form text-xs-center">
          <v-card class="light">
            <v-card-text>
              <div class="subheading">
                <template>
                  <v-form>
                    <v-text-field
                      v-model="data.titulo"
                      label="Titulo"
                      class="light"
                    />
                    <v-text-field
                      label="Describe!"
                      id="comments"
                      placeholder="Describe tu anuncio"
                      v-model="data.descripcion"
                      outlined
                    />
                    <v-combobox
                      v-model="data.categorias"
                      :items="categories"
                      label="Selecciona Categorias"
                      multiple
                      outlined
                      dense
                    ></v-combobox>
                    <v-checkbox
                      v-model="ingresaMonto"
                      label="¿Ingresas Monto?"
                    ></v-checkbox>
                    <v-text-field
                      v-model="data.monto"
                      label="Monto"
                      type="number"
                      class="light"
                      v-if="ingresaMonto"
                    />
                    <v-btn
                      block
                      @click="crearAnuncio"
                      depressed
                      color="primary"
                    >
                      Crear Anuncio
                    </v-btn>
                  </v-form>
                </template>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import { Role } from '../_helpers/role'
export default {
  name: 'NewAdvertisement',
  data: () => ({
    ingresaMonto: false,
    data: {
      id: '',
      monto: '',
      titulo: '',
      descripcion: '',
      categorias: [],
    },
  }),
  computed: {
    ...mapState('newAdvertisement', ['categories', 'categoriesFetching']),
  },
  mounted() {
    if (localStorage.getItem('session')) {
      let session = JSON.parse(localStorage.getItem('session'))
      if (session.rol === Role.JuntaVecinal) {
        this.$router.push('/login')
      } else {
        this.data.id = String(session.id)
        // Traer Categorias
        this.$store.dispatch('newAdvertisement/getCategories')
      }
    } else if (sessionStorage.getItem('session')) {
      let session = JSON.parse(sessionStorage.getItem('session'))
      if (session.rol === Role.JuntaVecinal) {
        this.$router.push('/login')
      } else {
        this.data.id = String(session.id)
        // Traer Categorias
        this.$store.dispatch('newAdvertisement/getCategories')
      }
    } else {
      this.$router.push('/login')
    }
  },
  methods: {
    crearAnuncio() {
      this.$store.dispatch('newAdvertisement/postNewAdvertisement', this.data)
    },
  },
}
</script>
