<template>
  <v-container>
    <div>
      <p class="post-title text-center">
        {{ advertisement.titulo }}
      </p>
      <div class="post-detail-container">
        <div class="row text-left">
          <div class="col-lg-6 col-md-12">
            <div class="template-line" />
            <div>
              <label>Descripcion</label>
              <p>{{ advertisement.descripcion }}</p>
            </div>

            <div
              v-if="
                advertisement.categorias &&
                  Object.keys(advertisement.categorias).length > 0
              "
            >
              <div class="template-line" />
              <label>Categorias</label>
              <v-chip-group
                v-for="categorias in advertisement.categorias"
                :key="categorias"
                active-class="deep-purple accent-4 white--text"
                column
              >
                <v-chip class="ma-2" color="green lighten-2">{{
                  categorias
                }}</v-chip>
              </v-chip-group>
            </div>

            <div
              v-if="
                advertisement.monto &&
                  Object.keys(advertisement.monto).length > 0
              "
            >
              <div class="template-line" />
              <label>Precio</label>
              <div>
                <v-chip class="ma-2" color="pink" label text-color="white">
                  <v-icon left>
                    mdi-label
                  </v-icon>
                  ${{ advertisement.monto }}
                </v-chip>
              </div>
            </div>

            <div
              v-if="
                advertisement.promocion &&
                  Object.keys(advertisement.promocion).length > 0
              "
              class="my-4 subtitle-1"
            >
              <div class="template-line" />
              <label>Descuento</label>
              <p>
                {{ advertisement.promocion.porcentaje * 100 }}% de descuento
              </p>
            </div>
            <div v-else>
              <div class="template-line" />
              <label>¿Soy el publicador? entonces...</label>

              <v-dialog v-model="dialog" persistent max-width="600px">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="success"
                    dark
                    v-bind="attrs"
                    v-on="on"
                    class="col-4 d-block"
                  >
                    Crear Promocion
                  </v-btn>
                </template>
                <v-card>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="6" md="12">
                          <v-text-field
                            label="Porcentaje*"
                            v-model="dataPromocion.porcentaje"
                            required
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="12">
                          <v-text-field
                            label="Duracion Dias*"
                            v-model="dataPromocion.duracion_dias"
                            required
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <div justify="content-center">
                      <v-btn depressed color="error" @click="dialog = false">
                        Cerrar
                      </v-btn>
                      <v-btn depressed color="success" @click="crearPromocion">
                        Crear Promocion
                      </v-btn>
                    </div>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </div>

            <div class="template-line" />
            <div>
              <label>Nombre Publicador</label>
              <p>{{ advertisement.nombre_del_publicador }}</p>
            </div>

            <div class="template-line" />
            <div>
              <label>Fecha de Publicación</label>
              <p>{{ advertisement.fecha_creacion }}</p>
            </div>

            <div class="template-line" />
            <div>
              <label>Telefono</label>
              <p>{{ advertisement.telefono }}</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-12">
            <div
              v-if="
                advertisement.comentarios &&
                  Object.keys(advertisement.comentarios).length > 0
              "
            >
              <div class="template-line" />
              <label>Comentarios de la Publicación</label>
              <div
                v-for="comentario in advertisement.comentarios"
                :key="comentario"
              >
                <template>
                  <v-container>
                    <v-row dense>
                      <v-col cols="12">
                        <v-card color="#385F73" dark>
                          <v-card-title class="text-h5">
                            {{ comentario.user }}
                          </v-card-title>
                          <v-card-subtitle>
                            {{ comentario.fecha_comentario }}
                          </v-card-subtitle>

                          <v-card-subtitle class="text-h5">
                            {{ comentario.comentario }}</v-card-subtitle
                          >
                          <v-card-actions>
                            <v-btn text>
                              Responder
                            </v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-container>
                </template>
              </div>
            </div>

            <div class="template-line" />
            <div>
              <label>Realizar comentario</label>
              <v-form class="col-8 mx-auto">
                <v-text-field
                  label="Comenta!"
                  id="comments"
                  placeholder="Escribe tu comentario"
                  v-model="data.comentario"
                  outlined
                />
                <v-btn
                  block
                  @click="enviarComentario"
                  depressed
                  color="primary"
                >
                  Enviar
                </v-btn>
              </v-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import { Role } from '../_helpers/role'
export default {
  name: 'PostDetail',
  data: () => ({
    dialog: false,
    data: {
      id_anuncio: '',
      id_usuario: '',
      comentario: '',
    },
    dataPromocion: {
      id_anuncio: '',
      id_usuario: '',
      porcentaje: '',
      duracion_dias: '',
    },
  }),
  computed: {
    ...mapState('advertisements', ['advertisement', 'advertisementFetching']),
    ...mapState('comment', ['result', 'commentFetching']),
  },
  mounted() {
    this.data.id_anuncio = String(this.$route.params.id)
    this.dataPromocion.id_anuncio = this.$route.params.id

    if (localStorage.getItem('session')) {
      let session = JSON.parse(localStorage.getItem('session'))
      if (session.rol === Role.JuntaVecinal) {
        this.$router.push('/login')
      } else {
        this.data.id_usuario = String(session.id)
        this.dataPromocion.id_usuario = String(session.id)
        this.$store.dispatch(
          'advertisements/getAdvertisement',
          this.$route.params
        )
      }
    } else if (sessionStorage.getItem('session')) {
      let session = JSON.parse(sessionStorage.getItem('session'))
      if (session.rol === Role.JuntaVecinal) {
        this.$router.push('/login')
      } else {
        this.data.id_usuario = String(session.id)
        this.dataPromocion.id_usuario = String(session.id)
        this.$store.dispatch(
          'advertisements/getAdvertisement',
          this.$route.params
        )
      }
    } else {
      this.$router.push('/login')
    }
  },
  methods: {
    enviarComentario() {
      this.$store.dispatch('comment/postComment', this.data)
    },
    crearPromocion() {
      this.dialog = false
      this.dataPromocion.porcentaje = String(
        this.dataPromocion.porcentaje / 100
      )
      this.$store.dispatch('promotion/postPromotion', this.dataPromocion)
    },
  },
}
</script>
