<template>
  <v-app id="login" class="login">
    <v-container class="fill-height">
      <v-layout class="align-center justify-center">
        <v-flex class="login-form text-xs-center">
          <v-card class="light">
            <v-card-text>
              <div class="subheading">
                <template>
                  <v-form>
                    <v-text-field
                      v-model="data.nombre"
                      label="Nombre"
                      prepend-icon="person"
                      class="light"
                    />
                    <v-text-field
                      v-model="data.apellido"
                      label="Apellido"
                      prepend-icon="person"
                      class="light"
                    />
                    <v-text-field
                      v-model="data.email"
                      label="Email"
                      prepend-icon="email"
                      type="email"
                      class="light"
                    />
                    <v-text-field
                      label="Telefono*"
                      :hint="'(+56)9 1122-3344' | formatPhoneNumber"
                      :value="data.telefono | formatPhoneNumber"
                      prefix="(+56)"
                      maxlength="11"
                      @input="(value) => (data.telefono = value)"
                      required
                    />
                    <v-text-field
                      v-model="data.password"
                      label="Password"
                      prepend-icon="lock"
                      type="password"
                      class="light"
                    />
                    <v-btn block @click="signUpUser" depressed color="primary">
                      Registrar Vecino
                    </v-btn>
                  </v-form>
                </template>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'SignUpForm',
  data: () => ({
    data: {
      nombre: '',
      apellido: '',
      email: '',
      telefono: '',
      password: '',
      nombre_junta_vecinal: '',
      emailJuntaVecinal: '',
      passwdJuntaVecinal: '',
    },
  }),
  computed: {
    ...mapState('user', ['signUpFetching']),
  },
  mounted() {
    if (localStorage.getItem('session') && localStorage.getItem('login')) {
      let session = JSON.parse(localStorage.getItem('session'))
      let login = JSON.parse(localStorage.getItem('login'))
      this.data.nombre_junta_vecinal = session.junta_vecinal
      this.data.emailJuntaVecinal = login.email
      this.data.passwdJuntaVecinal = login.password
    }
    if (sessionStorage.getItem('session') && sessionStorage.getItem('login')) {
      let session = JSON.parse(sessionStorage.getItem('session'))
      let login = JSON.parse(sessionStorage.getItem('login'))
      this.data.nombre_junta_vecinal = session.junta_vecinal
      this.data.emailJuntaVecinal = login.email
      this.data.passwdJuntaVecinal = login.password
    }
  },
  methods: {
    signUpUser() {
      this.$store.dispatch('user/signUpUser', this.data)
    },
  },
}
</script>
